* {
    box-sizing: border-box;
}
body {
    color: white;
    background: url(https://i.imgur.com/1YQ2PRF.png) no-repeat center center fixed;
    background-color: rgb(67, 94, 167);
    background-size: 500px;
    font-family: 'Expletus Sans', cursive;
    
}
#timer {
    color: white;
    text-align: center;
    font-size: 30px;
}
 #start {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 250%;
    line-height: 22px;
    height: 60px;
    overflow: hidden;
    font-family: 'Faster One', cursive;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    border-radius: 30%;
} 

#start:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
  #replay {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 250%;
    line-height: 22px;
    height: 60px;
    overflow: hidden;
    font-family: 'Faster One', cursive;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    border-radius: 30%;
  } 
 #replay:hover {
    background: rgb(226, 170, 79);
    color: black;
  } 
  .questions {
    position: relative;
    justify-content: center;
    color: white;
    padding: 0px 5%;
    text-align: center;
    align-items: center;
    width: 340px;
    font-size: 80%;
    line-height: 22px;
    /* height: 40px; */
    overflow: hidden;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    border-radius: 30%;
    border: 1px solid white;
  }
  #line1 {
    display: flex;
    justify-content: space-between;  
} 

  #A {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table; 
    width: 340px;
    font-size: 80%;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    border-radius: 30%;
    font-family: 'Expletus Sans', cursive;
}
#A:hover {
    background: rgb(226, 170, 79);
    color: black;
}
  #B {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 80%;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    border-radius: 30%;
    font-family: 'Expletus Sans', cursive;
}
#B:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
#line2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#C {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 80%;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    border-radius: 30%;
    font-family: 'Expletus Sans', cursive;
}
#C:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
#D {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table; 
    width: 340px;
    font-size: 80%;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    border-radius: 30%;
    font-family: 'Expletus Sans', cursive;
}
#D:hover {
    background: rgb(226, 170, 79);
    color: black;
}
.hidden-headers{
    
    text-align: center;
}
  h1 {
    text-align: center;
}
