* {
    box-sizing: border-box;
}
body {
    color: white;
    background: url(https://i.imgur.com/1YQ2PRF.png) no-repeat center center fixed;
    background-color: rgb(67, 94, 167);
    font-family: 'ZCOOL XiaoWei', serif;
}
#timer {
    color: white;
    text-align: center;
}
.button-container {
    display: flex;
    margin: 5% 0;
}
#start {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 30%;
    font-size: 18px;
    line-height: 22px;
    height: 80px;
    overflow: hidden;
    font-family: 'Monoton', cursive;
    background: linear-gradient(rgb(55, 68, 77), rgb(4, 18, 29));
    margin: 0 auto;
    border-radius: 30%;
}

#start:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
  .questions {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 28px;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    font-family: Arial, Verdana, "Helvetica CY", sans-serif;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: auto;
    margin-bottom: 50px;
    font-family: Helvetica;
    border-radius: 30%;
    border: 1px solid white;
  }
  #line1 {
    display: flex;
    justify-content: space-between;  
} 

  #A {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    font-family: Arial, Verdana, "Helvetica CY", sans-serif;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    font-family: Helvetica;
    border-radius: 30%;
}
#A:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
  #B {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    font-family: Arial, Verdana, "Helvetica CY", sans-serif;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    font-family: Helvetica;
    border-radius: 30%;
}
#B:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
#line2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#C {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    font-family: Arial, Verdana, "Helvetica CY", sans-serif;
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    font-family: Helvetica;
    border-radius: 30%;
}
#C:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
#D {
    color: white;
    padding: 0px 5%;
    text-align: center;
    display: table;
    width: 340px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
    font-family: Arial, Verdana, "Helvetica CY", sans-serif; 
    background: linear-gradient(rgb(75, 92, 104), rgb(4, 18, 29));
    margin: 0 auto;
    font-family: Helvetica;
    border-radius: 30%;
}
#D:hover {
    background: rgb(226, 170, 79);
    color: black;
  }
  h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #replay {
      
  }